:root {
  --text: #fdf7e5;
  --background: #2D4059;
  --primary: #f8d786;
  --secondary: #09959c;
  --accent: #3961f3;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  padding: 20px;
  background: var(--background);
  color: var(--text);
  line-height: 1.6;
  font-size: 34px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.main-content {
  flex: 0 0 60%;
  margin-left: 5%;
}

.recent-entries {
  flex: 0 0 20%;
  margin: 10%;
}

.recent-entry {
  margin-bottom: 10px;
  padding: 5px;
  border-color: var(--primary);
  border-radius: 12px;
}

h1,
h2 {
  color: var(--text);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 12px;
}

th {
  font-size: 50px;
}

th,
tr {
  padding: 15px;
}

tbody tr:first-child:nth-child(even) {
  background-color: var(--primary);
}
